기본 리셋 스타일 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64;
  color: #444;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
img {
  border: 0;
  vertical-align: middle;
}

/* HEADER 스타일 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: #fff 0.5;
  z-index: 9999;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  /* margin-top: 60px; */
  text-align: center;
}

.header-box {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%;
  max-width: 1847px; /* 최대 너비 설정 */
  border: 2px solid #111;
  border-radius: 10px;
  background-color: #fff;
  /* background-image: url(/images/header.jpg); */
  margin-top: 100px;
}

.bordered-list {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bordered-list li {
  display: flex; /* 리스트 항목을 인라인 블록으로 변환 */
  border-left: 2px solid #111; /* 왼쪽에 2px 두께의 검정색 선 추가 */
  padding-left: 20px; /* 왼쪽 여백 추가 */
  height: 55px; /* 고정 높이 설정 */
  line-height: 55px; /* 줄 높이를 헤더의 높이와 동일하게 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  padding: 0;
  align-items: center;
  justify-content: center;
}

.bordered-list li:first-child {
  border-left: none; /* 첫 번째 항목의 왼쪽 선 제거 */
}

.gnb {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  padding: 0;
  margin: 0;
  width: 100%;
  /* background-color: #111; */
}

.gnb li {
  position: relative;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  /* margin: 0 20px; 항목 사이의 여백 */
  width: 250px;
}

.gnb li a {
  display: flex;
  line-height: 55px; /* 링크의 줄 높이를 헤더와 동일하게 설정 */
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  font-family: "Noto Sans", sans-serif;
  color: #cecece;
  position: relative;
  text-align: center;
  align-items: center;
}

.gnb li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: all 0.5s;
  text-align: center;
}

.gnb li:hover a {
  width: 100%;
  color: #fff;
  background-color: #111;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
}

.gnb li:hover a::after {
  width: 100%;
}

.gnb-active {
  color: #fff !important;
}

.gnb-active::after {
  width: 100% !important;
}

.gnb li a.active {
  width: 100%;
  color: #fff;
  background-color: #111;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
}

img {
  width: 100%;
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 100vh; */
}

/* home */
.bounce-in-top {
  width: 250px;
  height: 67px;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-8-9 11:52:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.jello-horizontal {
  width: 935px;
  height: 94px;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-8-9 11:55:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg-2.jpg);
}

/* 애니메이션을 통해 지지직 거리는 효과를 구현 */
@keyframes static-effect {
  0% {
    filter: none;
  }
  10% {
    filter: contrast(120%) brightness(80%);
  }
  20% {
    filter: contrast(80%) brightness(120%);
  }
  30% {
    filter: contrast(100%) brightness(100%) grayscale(50%);
  }
  40% {
    filter: none;
  }
  50% {
    filter: contrast(110%) brightness(90%);
  }
  60% {
    filter: contrast(90%) brightness(110%);
  }
  70% {
    filter: contrast(100%) brightness(100%) grayscale(50%);
  }
  80% {
    filter: none;
  }
  90% {
    filter: contrast(120%) brightness(80%);
  }
  100% {
    filter: none;
  }
}
.home .jello-horizontal {
  margin-top: 50px;
}

.home h3 {
  font-size: 40px;
  margin-top: 100px;
  color: #fff;
  font-family: "Dokdo", system-ui;
}
.roll-in-left {
  position: absolute;

  display: flex;
  justify-content: center;
  width: 120px;
  bottom: 0; /* 화면의 아래쪽 끝 */
  margin-bottom: 150px;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
}

.roll-in-left img {
  animation: static-effect 1s infinite;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-9 14:39:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.mouse {
  position: absolute;

  display: flex;
  justify-content: center;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  opacity: 0.4;
  border-radius: 30px;
  box-sizing: border-box;
  bottom: 0; /* 화면의 아래쪽 끝 */
  margin-bottom: 80px;
}
.molette {
  margin: 12px auto auto auto;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 90px;
  animation: scroll 2s ease infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
    margin: 10px auto auto auto;
  }
  10% {
    opacity: 1;
  }
  50% {
    margin: 10px auto auto auto;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin: 18px auto auto auto;
  }
}

#intro {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.intro-gif {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1172px;
  height: 100vh;
}

/* 텍스트 무한루프 */
.text-slider {
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin: 0;
  max-width: 100vw;
}
.text-slides {
  width: 100vw;
  display: flex;
  align-items: center;
  animation: slide-left 30s linear infinite;
}

.textslides img {
  width: auto;
  flex-shrink: 0;
  object-fit: cover;
  overflow: hidden;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -100%
    ); /* Move to the left by the width of the slides container */
  }
}

/* about */

#about {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(/images/bg.png);
}

#about span {
  font-size: 30px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  letter-spacing: -2px;
  color: #0c0c0c;
}

.tracking-in-contract {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  -webkit-animation: tracking-in-contract 2.5s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: tracking-in-contract 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* 애니메이션 정의 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.5em; /* 글자 간격을 좀 더 좁게 설정 */
    opacity: 0;
  }
  50% {
    opacity: 0.8; /* 중간에 불투명도 약간 증가 */
  }
  100% {
    letter-spacing: normal; /* 기본 글자 간격으로 설정 */
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.5em; /* 글자 간격을 좀 더 좁게 설정 */
    opacity: 0;
  }
  50% {
    opacity: 0.8; /* 중간에 불투명도 약간 증가 */
  }
  100% {
    letter-spacing: normal; /* 기본 글자 간격으로 설정 */
    opacity: 1;
  }
}

.scale-up-center {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.scale-up-center img {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: static-effect 1s infinite;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-9 12:16:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.rotating-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotating-image {
  width: 88px; /* 원하는 이미지 크기로 조정 */
  height: auto;
  animation: rotate 5s linear infinite; /* 회전 애니메이션 적용 */
}

/* 회전 애니메이션 정의 */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#about-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#about .about-span {
  font-size: 30px;
  margin-top: 40px;
  font-weight: 100;
  color: #5a5a5a;
  letter-spacing: 0;
  font-family: "Dokdo", system-ui;
}

#about .about-h3 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -2px;
}

#about .about-p {
  display: flex;
  justify-content: center;
  margin-top: 255px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 19px;
  color: #c7c7c7;
}

/* 텍스트 기본 스타일 */

h1.tracking-out-expand {
  font-size: calc(1.5rem + 1.5vw); /* 뷰포트 너비에 따른 텍스트 크기 조정 */
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 20px;

  letter-spacing: 0; /* 기본 글자 간격 */
  transform: translateY(40px); /* 애니메이션 시작 시 아래로 이동 */
  opacity: 0; /* 애니메이션 시작 시 불투명도 0 */
  margin-top: 50px;
}

/* 애니메이션 효과 */
@-webkit-keyframes tracking-out-expand {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.9); /* 시작 시 위치 이동과 축소 */
  }
  50% {
    opacity: 0.6;
    transform: translateY(10px) scale(1.05); /* 중간에 위치와 스케일 조정 */
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); /* 끝에는 원래 위치와 크기 */
  }
}

@keyframes tracking-out-expand {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.9); /* 시작 시 위치 이동과 축소 */
  }
  50% {
    opacity: 0.6;
    transform: translateY(10px) scale(1.05); /* 중간에 위치와 스케일 조정 */
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); /* 끝에는 원래 위치와 크기 */
  }
}

.tracking-out-expand {
  -webkit-animation: tracking-out-expand 1s cubic-bezier(0.42, 0, 0.58, 1) both;
  animation: tracking-out-expand 1s cubic-bezier(0.42, 0, 0.58, 1) both;
}
